* {
    text-align: center;
    border-style: hidden;
    border-color: #82909bdc;
   
    
 }

.static1{
   position:fixed;
   min-width: 100%;
}


 body {
    background-color: #c1c7cc;
 }
 h1 {
    color:#ff6347;
    font-size: 54px;
 }
 
 .Outcome1 {
   color:hsl(277, 69%, 54%);
   font-size: 54px
 }
.reference {
   font-size: 22px;
}
.layout {
   font-size: 22px;
   text-align: left;
}

.alleft{
   text-align: left;
}

h2{
   color:rgb(8, 11, 12);
    font-size: 38px;
}

 h3 {
    color:rgb(8, 11, 12);
    font-size: 28px;
 }
 
 h4 {
   color:rgb(8, 11, 12);
   font-size: 28px;
 }

 h5 {
   color:rgb(8, 11, 12);
   font-size: 28px;
 }

 h6 {
   color:rgb(8, 11, 12);
   font-size: 28px;
 }
 p {
     font-size: 22px;
     text-align: center;
 }

 img {
    max-width: 100%;
    height: auto
 }
 
 .wrapper{
    width: 70%;
    margin: 0 auto;
 }

 
 .container {
    display: flex;
 }
 
 @import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:900');
 
 * {
    box-sizing: border-box;
 }
 .box {
    color:white;
    font-size: 24px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    padding:15px;
    flex: 1;
 }
  .box1 { background:#393E41;}
  .box2 { background:#44BBA4;}
  .box3 { background:#E7BB41;}
  .box4 { background:#4F9D69;}
   .box5 { background:rgb(187, 206, 101);}

 